

body {
  
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;

}

.titre{
	margin-top: 250px;
	text-align: center;
	font-family: 'Croissant One';
}

.paragraphe{
	
	text-align: center;
	font-family: 'Pompiere',cursive;

}

.border{

	border-bottom: 1px solid #dbdbdb;
}

.plats{
	margin-left: 20px;
	font-family:  'Croissant One';
}	


h3{
	font-family:  'Croissant One';
}



.hover{
	
	transition: 0.2s;
}

.hover:hover{
	
	background: black;
	transition: 1s;
	opacity: 0.9;
}


.sous-titre{
	
	text-align: center;
	width: 100%;
	font-family: 'Croissant One';
}

.carte_img{
	
	height: 250px;
	width: 200px;
	margin: 12px;
	border-radius: 30%;
}


p{
	display: flex;
	justify-content: center;
	text-align: left;
	font-family:'Pompiere',cursive;
	font-size: 20px;
}

.glyphicon{
	background:none;
	outline:none;
	border:2px solid transparent;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top: 30px;
}
.price{
	display:flex;
	justify-content: flex-end;

	font-family: 'Pompiere', cursive;
}