body {
  
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;

}

h1{
	text-align: center;
	font-family: 'Croissant One';
}

.paragraphe{
	
	text-align: center;
	font-family: 'Croissant One';

}

.border{

	border-bottom: 1px solid #dbdbdb;
}

h2{
	margin-left: 20px;
	font-family:  'Croissant One';
}	


h3{
	font-family:  'Croissant One';
}



.hover{
	
	transition: 0.2s;
}

.hover:hover{
	
	background: black;
	transition: 1s;
	opacity: 0.9;
}


.sous-titre{
	
	text-align: center;
	width: 100%;
	font-family: 'Croissant One';
}

img{
	
	height: 250px;
	width: 200px;
	margin: 12px;
	border-radius: 30%;
}
@font-face {
	font-family: 'Rolade free';
	src: url('../fonts/Rolade Free.ttf');
}

p{
	display: flex;
	justify-content: center;
	text-align: left;
	font-family: 'Rolade free';
}

.glyphicon{
	
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top: 30px;
}
.price{

	font-family: 'Rolade free';
}